<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleMixed</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.cgvis.transferfunction1d</string>
			<key>UTTypeDescription</key>
			<string>Transfer Function 1D</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tf1d</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-transferfunction1d</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.cgvis.volumedata</string>
			<key>UTTypeDescription</key>
			<string>Volume Dataset</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>data</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-volumedata</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Transfer Function</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.cgvis.transferfunction1d</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Volume Data</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.cgvis.volumedata</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSWorldSensingUsageDescription</key>
	<string>To collaborate with others, this app needs access to your environment.</string>
</dict>
</plist>
